<h6 class="ml-3" style="font-weight: bold;">Notifications</h6>
<div class="col my-1 mx-1 form-inline border rounded"
    style="width: 25rem; height: 4.5rem;background-color:#ADD0FF;" *ngFor="let item of [1,2,3,4,5]">
    <img class="rounded-circle" src="https://st1.bollywoodlife.com/wp-content/uploads/2020/04/FotoJet-6-2.jpg" height="40rpm" alt="">
    <strong class="ml-3">Vishal Munagekar</strong>&nbsp;<i class="">sent you a request</i>
</div>
