<div class="border mt-2 animate__animated animate__fadeInUp" style="border-radius: 10px; padding: 10px 10px;">
  <span class="ml-2">Suggestions For You</span>

  <div class="border bg-light mt-2 form-inline border rounded" *ngFor="let friend of saggestedFriends"
    style="height: 4.5rem; padding: 2px 12px">
    <a [routerLink]="['/friendprofile', friend.user[0].username]" style="text-decoration: none; color: black;">
      <img class="rounded-circle" height="40rpm" src="{{friend.profilePicture}}" alt="profile picture">
    </a>
    <div style="padding: 10px 10px;">
      <a [routerLink]="['/friendprofile', friend.user[0].username]" style="text-decoration: none; color: black;">
        <h6 class="ml-2" style="font-weight: bold;">{{friend.user[0].username}}</h6>
        <h6 class="ml-2" style="font-size:x-small;">{{friend.occupation}}</h6>
      </a>
    </div>
    <!-- <button class="btn btn-primary ml-auto">request</button> -->
    <button class="btn btn-secondary ml-auto">requested</button>
  </div>
</div>
