<div class="animate__animated animate__fadeInUp">
  <div class="form-inline" style="height: 4rem; border-top-right-radius: 5px; border-top-left-radius: 5px;">
    <div class="mx-3">
      <img class="rounded-circle" src="{{singlePost.userProfile[0].profilePicture}}" height="40rpm" alt="">
    </div>
    <div>
      <h6 class="my-auto" style="font-weight: bold;">{{singlePost.username}}</h6>
      <i class="fa fa-globe mx-1" aria-hidden="true"></i>
      <span class="text-muted my-auto">Ichalkaranji</span>
    </div>
  </div>
  <div class="bg-light d-flex justify-content-center">
     <img class="img-fluid" style="height: 400px;" src="{{singlePost.imageUrl}}" alt="postImage">
  </div>
  <div class="form-inline" style="height: 3rem;">
    <!-- <i class="fa fa-heart-o fa-2x ml-3" aria-hidden="true"></i> -->
    <i class="fa fa-heart fa-2x ml-3" aria-hidden="true"></i>
    <a [routerLink]="['/detailedpost', singlePost.postId]" style="color: black;"><i class="fa fa-comment-o fa-2x ml-3" aria-hidden="true"></i></a>
    <i class="fa fa-paper-plane fa-2x ml-3" aria-hidden="true"></i>
    <span class="ml-auto pr-3" style="font-weight: bold;">1,113 Likes</span>
  </div>
  <div style="padding: 0px 20px; font-size: small;">
    <p>{{singlePost.caption}}</p>
  </div>
  <div class="" style="height: 2rem;">
    <span class="ml-2 text-muted" style="font-size: x-small;">{{singlePost.publishedDate | date:'mediumDate'}}</span>
  </div>
</div>
