<div class="container mb-5" style="max-width: 90rem; margin-top: 5rem;">
  <div class="row">

    <div class="col-lg-3">
      <div class="sticky-top" style="top: 5.5rem">
        <!-- <div class="bg-dark mt-2" style="height: 15rem; border-radius: 10px;"></div>
              <div class="bg-dark mt-1" style="height: 33rem; border-radius: 10px;"></div> -->
      </div>
    </div>

    <div class="col-lg-5">

      <a routerLink="/addnewpost" style="text-decoration: none; color: black;">
        <div class="my-2 form-inline border addPost animate__animated animate__zoomIn" style="height: 6rem; border-radius: 10px; cursor: pointer;">
          <div class="mx-3">
            <img class="rounded-circle" src="{{this.userTag.profilePicture}}" height="40rpm" alt="profilePic">
          </div>
          <div>
            <h5 class="my-auto" style="font-weight: bold;">Add new Post here</h5>
          </div>
        </div>
      </a>

      <div *ngFor="let post of this.posts">
        <!-- Posts load here -->
            <app-shared-post [singlePost]="post"></app-shared-post>
        <!-- Posts load here -->
      </div>

    </div>

    <div class="col-lg-4">
      <div class="sticky-top" style="top: 5.5rem">

        <div class="border mt-2 form-inline animate__animated animate__zoomIn" *ngIf="userTag !== undefined" style="height: 5rem; border-radius: 10px; padding: 0px 1rem;">
          <img class="rounded-circle" src="{{userTag.profilePicture}}"
            style="height: 3.5rem;" alt="profile picture">
          <div style="padding: 10px 10px;">
            <h5 class="ml-2" style="font-weight: bold;">{{userTag.user[0].username}}</h5>
            <h6 class="ml-2" style="font-size: small;">{{userTag.occupation}}</h6>
          </div>
        </div>

        <!-- Users All friends suggestion will load here -->
           <app-friends-suggestion></app-friends-suggestion>
        <!-- Users All friends suggestion will load here -->
      </div>
    </div>
  </div>
</div>
