<div *ngIf="postComments !== undefined">
  <div style="height: 3rem;" *ngFor="let comment of postComments.commets">
    <div class="mx-3 my-auto">
        <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/1236222132180234241/doCdQ6-l.jpg" style="height: 2rem;" alt="">
        <span class="ml-2" style="font-weight: bold; font-size: small;">{{comment.username}}</span>
        <span class="ml-2" style="font-size: small;">{{comment.comment}}</span>
    </div>
  </div>
</div>
