<div class="container">
  <div class="row justify-content-center" style="margin-top: 6rem;">
      <div class="col p-4" style="max-width: 60%;">
          <div class="p-3 bg-light rounded">
              <h5 class="mb-3">Your Friends</h5>

              <a routerLink="/friendprofile" style="text-decoration: none; color: black;" *ngFor="let item of [1,2,3,4,5,6,7,8]">
                  <div class="col mt-2 form-inline border rounded" style="height: 4.5rem;">
                      <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/1236222132180234241/doCdQ6-l.jpg" height="40rpm" alt="">
                      <span class="ml-3" style="font-weight: bold;">Vishal Munagekar</span>
                  </div>
                </a>

          </div>
      </div>
  </div>
</div>
