<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" style="font-size: xx-large; font-weight: bolder;" routerLink="/">Instabook</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- <form class="form-inline my-2">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
          </form> -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav form-inline ml-auto" style="font-size: large; font-weight: bolder;">

          <li class="nav-item mr-4" *ngIf="!isLogin">
            <a class="nav-link active" aria-details="Login" routerLink="/login" aria-disabled="true">
              <i class="fa fa-sign-in" style="font-size: 2rem;" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item mr-4" *ngIf="!isLogin">
            <a class="nav-link active" aria-details="Signup" routerLink="/signup" aria-disabled="true">
              <i class="fa fa-user-plus" style="font-size: 2rem;" aria-hidden="true"></i>
            </a>
          </li>

          <li class="nav-item active mr-4" *ngIf="isLogin">
            <a class="nav-link" aria-details="Home" routerLink="/">
              <i class="fa fa-home" style="font-size: 2rem;" aria-hidden="true"></i><span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item mr-4" *ngIf="isLogin">
            <div class="dropdown active">
              <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="cursor: pointer;">
                <i class="fa fa-bell" style="font-size: 2rem;" aria-hidden="true"><span class="bg-danger rounded-pill"
                    style="font-size: medium; padding: 2px 5px;position: relative;top: -1.5rem;right: 18px;">16</span></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- Notification componanet load here -->
                <app-notification></app-notification>
                <!-- Notification componanet load here -->
              </div>
            </div>
          </li>

          <li class="nav-item mr-4" *ngIf="isLogin">
            <div class="dropdown active">
              <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" style="cursor: pointer;">
                <i class="fa fa-user" style="font-size: 2rem;" aria-hidden="true"><span class="bg-danger rounded-pill"
                    style="font-size: medium; padding: 2px 5px;position: relative;top: -1.5rem;right: 13px;">1</span></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- User All Friend requests will shows here -->
                <app-friend-request></app-friend-request>
                <!-- User All Friend requests will shows here -->
              </div>
            </div>
          </li>


          <li class="nav-item mr-4" *ngIf="isLogin">
            <a class="nav-link active" aria-disabled="true">
              <i class="fa fa-comment" style="font-size: 2rem;" aria-hidden="true"><span class="bg-danger rounded-pill"
                  style="font-size: medium; padding: 2px 5px;position: relative;top: -1.5rem;right: 13px;">2</span></i>
            </a>
          </li>
          <!-- User Profile Nav Dropdowns -->
          <li class="nav-item mr-4 dropdown" *ngIf="isLogin" >
            <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" id="profileOptions" *ngIf="userTag !== undefined"
              aria-expanded="Dropdown link">
              <img class="rounded-circle my-1"
                src="{{userTag.profilePicture}}" height="40rpm" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="profileOptions">
              <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user-circle mr-2"
                  aria-hidden="true"></i>Profile</a>
              <a class="dropdown-item" routerLink="/editprofile"><i class="fa fa-cog mr-2" aria-hidden="true"></i>Setting</a>
              <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa fa-sign-out mr-2"
                  aria-hidden="true"></i>Logout</a>
            </div>
          </li>
          <!-- User Profile Nav Dropdowns -->
        </ul>
      </div>
    </div>
  </nav>
</div>
