<h3 class="text-center" style="margin-top: 6rem;">Signup</h3>
<div class="container d-flex justify-content-center">
  <div class="col bg-light p-4 mt-3 rounded" style="max-width: 22rem;">
    <form #signUpForm="ngForm" (submit)="signUp(signUpForm.value)" *ngIf="!registrationSccess">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ngModel name="username"
          [class.is-invalid]="username.invalid && username.touched" #username="ngModel" aria-describedby="usernameHelp"
          required>
        <small [class.d-none]="username.valid || username.untouched" class="form-text text-danger">Username is
          required</small>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" ngModel name="email" [class.is-invalid]="email.invalid && email.touched" #email="ngModel"
          class="form-control" aria-describedby="emailHelp" required>
        <small [class.d-none]="email.valid || email.untouched" class="form-text text-danger">Email Id is
          required</small>
      </div>

      <!-- <div class="form-group">
        <label for="exampleInputMobNo">Mobile Number</label>
        <input type="number" class="form-control" id="exampleInputMobNo" aria-describedby="mobNoHelp">
      </div> -->

      <!-- <div class="form-group">
        <label for="exampleInputBdate">Date of birth</label>
        <input type="date" class="form-control" id="exampleInputMobNo" aria-describedby="mobNoHelp">
      </div> -->

      <div class="form-group">
        <label for="exampleInputGender">Gender</label>
        <div class="form-check ">
          <input class="form-check-input" type="radio" ngModel name="gender" #gender="ngModel" value="MALE" required>
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" ngModel name="gender" #gender="ngModel" value="FEMALE" required>
          <label class="form-check-label">Female</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" ngModel name="gender" #gender="ngModel" value="OTHER" required>
          <label class="form-check-label">Other</label>
        </div>
        <small [class.d-none]="gender.valid || gender.untouched" class="form-text text-danger">Gender is
          required</small>
      </div>


      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" ngModel name="password" [class.is-invalid]="password.invalid && password.touched"
          #password="ngModel" class="form-control" id="exampleInputPassword" required pattern="^[a-zA-Z0-9]{8,}$">
        <!-- <small [class.d-none]="password.valid || password.untouched" class="form-text text-danger">Password is
          required</small> -->
        <small *ngIf="password.touched && password.invalid" class="form-text text-danger">Passwords will contain at
          least 8 character</small>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary" style="width: 100%;"><i
            class="fa fa-user-plus mx-2" aria-hidden="true"></i>Signup</button>
        <button type="button" routerLink="/login" class="btn btn-secondary mt-2" style="width: 100%;">Cancel</button>
      </div>
    </form>
    <div class="form-group" *ngIf="registrationSccess">
      <div class="bg-success rounded-lg" style="height: 10rem;">
        <span class="fa fa-check-circle-o fa-5x" style="color: white; margin: 2.5rem 7.5rem !important;" aria-hidden="true"></span>
      </div>
      <h3 class="text-center mt-3">Registration Successful</h3>
      <p class="text-center">Congratulations, your account has been successfully created.</p>
      <div class="d-flex justify-content-center">
        <button routerLink="/login" class="btn btn-success rounded-pill d-flex">Continue</button>
      </div>
    </div>
  </div>
</div>
