<div class="container" style="margin-top: 8rem; max-width: 45rem;">
  <div class="row border rounded bg-light">
      <div class="col-lg-4 p-4">
          <div class="justify-content-center text-center">
              <img class="rounded-circle" style="height: 13rem;" src="https://pbs.twimg.com/profile_images/1236222132180234241/doCdQ6-l.jpg" alt="profile_pic">
              <hr>
              <h5 class="mt-3">Vishal Munagekar</h5>
              <h6 class="mt-2 text-muted">Full Stack Developer</h6>
          </div>
      </div>
      <div class="col-lg-8" style="padding: 24px 20px;">
          <div class="row text-center">
              <div class="col">
                  <h6 style="font-weight: bold;">Firends</h6>
                  <h4 class="text-muted">250</h4>
              </div>
              <div class="col">
                  <h6 style="font-weight: bold;">Posts</h6>
                  <h4 class="text-muted">3</h4>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col">
                  <h6 style="font-weight: bold;">Mobile Number</h6>
                  <small class="text-muted" for="">+91 7843052772</small>
                  <h6 style="font-weight: bold;" class="mt-2">Email ID</h6>
                  <small class="text-muted" for="">vishalmunagekar@gmail.com</small>
              </div>
              <div class="col">
                  <h6 style="font-weight: bold;">Birth date</h6>
                  <small class="text-muted" for="">17 jan 1995</small>
              </div>
          </div>
          <hr>
          <div class="d-flex justify-content-center" style="padding: 10px;">
              <button class="btn btn-primary rounded-pill" style="width: 50%;">Request</button>
          </div>
      </div>
  </div>
  <div class="row d-flex justify-content-center border mt-1 p-3 rounded bg-light">
      <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
  </div>
</div>
