<h3 class="text-center" style="margin-top: 10rem;">Login</h3>
<div class="container d-flex justify-content-center">
  <div class="col bg-light p-4 mt-3 rounded" style="max-width: 22rem;">
    <form #LoginForm=ngForm (submit)="login(LoginForm.value)">
      <div class="form-group">
        <label>Username</label>
        <input type="text" ngModel name="username" [class.is-invalid]="username.invalid && username.touched" #username="ngModel" class="form-control"
         aria-describedby="username" required>
        <!-- <small id="emailHelp" class="form-text text-danger">username doesn't match, please try again!</small> -->
        <small [class.d-none]="username.valid || username.untouched" class="form-text text-danger">Username is required</small>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" ngModel name="password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" class="form-control" id="exampleInputPassword1" required>
        <small *ngIf="loginErrorMsg" class="form-text text-danger">Wrong credentials, please try again!</small>
        <small [class.d-none]="password.valid || password.untouched" class="form-text text-danger">Password is required</small>
      </div>

      <div class="form-group" *ngIf="loginErrorMsg">
        <a routerLink="/forgotpass" style="text-decoration: none;">Forgot password!</a>
      </div>

      <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->

        <div class="form-group">
          <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-primary" style="width: 100%;"><i class="fa fa-sign-in mx-2" aria-hidden="true"></i>Login</button>
          <button routerLink="/signup" class="btn btn-secondary mt-2" style="width: 100%;"><i class="fa fa-user-plus mx-2" aria-hidden="true"></i>Signup</button>
        </div>
    </form>
  </div>
</div>
