<h3 class="text-center" style="margin-top: 10rem;">Add new post</h3>
<div class="container d-flex justify-content-center">
  <div class="col bg-light p-4 mt-3 rounded" style="max-width: 22rem;">

    <div *ngIf="!uploadingSuccess">
      <div class="form-group">
        <label for="exampleInputEmail">Image URL</label>
        <input type="file" (change)="fileProgress($event)" name='image'>
      </div>

      <div class="form-group">
        <div *ngIf="previewUrl">
          <img class="img-fluid" [src]="previewUrl" height="300">
        </div>
      </div>

      <div class="form-group" *ngIf="uploadingStatus">
        <label>Uploading...</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]="{width: this.fileUploadProgress}" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">{{this.fileUploadProgress}}</div>
        </div>
      </div>
      <!-- <div class="form-group" *ngIf="uploadingSuccess">
        <p class="text-success" style="font-weight: bold;">Image successfully uploaded!</p>
      </div> -->

      <div class="form-group">
        <label for="exampleInputMobNo">Caption</label>
        <textarea #caption class="form-control" name='caption' rows="3"></textarea>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mr-2" style="width: 40%;"
          (click)="onSubmit(caption.value)">Post</button>
        <button type="button" class="btn btn-secondary ml-2" style="width: 40%;">Cancel</button>
      </div>
    </div>

    <div class="form-group animate__animated animate__bounceIn" *ngIf="uploadingSuccess">
      <div class="bg-white rounded-lg" style="height: 10rem;">
        <span class="fa fa-check-circle-o fa-5x" style="color: green; margin: 2.5rem 7.5rem !important;"
          aria-hidden="true"></span>
      </div>
      <h3 class="text-center mt-3">Posted !</h3>
      <p class="text-center">Your post has been successfully posted.</p>
      <div class="d-flex justify-content-center">
        <button routerLink="/home" style="width: 7rem;" class="btn btn-success rounded-pill">Ok</button>
      </div>
    </div>
  </div>
</div>
